.main {
  width: 100%;
  padding: 6.849rem 10.913rem;
  background-color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1.606rem;
  align-items: flex-start;
}

.mainContainerText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.826rem;
}

.mainProjectsTitle {
  max-width: 57rem;
}

.mainContainerText h2 {
  text-align: left;
}

.projects {
  width: 100%;
  text-align: left;
}

.projectsButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem
}

.projectsButtonsItem {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: 'Open Sans';
}

.activ {
  color: #28a745;
}

.projectsContainer {
  padding: 3rem 10.913rem 6.849rem;
}

.projectsWraper {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 0rem; /* Вертикальный отступ - 1.4rem, горизонтальный - 4rem */
  justify-content: space-between;
}

.projectsItem {
  width: 21.014rem;
  display: flex;
  flex-direction: column;
  gap: 1.141rem;
  align-items: flex-start;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.projectsItem:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 100px #f7f5e6);
}

.projectsItem:hover .arrow img{
  transition: all 0.5s ease-out;
  transform: translateX(-50%);
}

/* .projectsWraper:hover > .projectsItem:not(:hover).projectsItem {
  filter: brightness(0.8) grayscale(0.6) contrast(1.2) blur(10px);
} */

.projectsItemBot {
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.projectsImg img {
  width: 21.014rem;
  height: 21.014rem;
  object-fit: cover;
}

.case {
  width: 100%;
  margin: 0 auto;
}

.caseContainer {
  width: 27.716rem;
  display: flex;
  gap: 3.652rem;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: left;
  padding: 6.849rem 0;
}

.caseItem {
  display: flex;
  flex-direction: column;
  gap: 1.141rem;
}


.back {
  width: 100%;
  padding: 1rem 10.913rem;
  display: flex;
  justify-content: flex-start;
}

.arrow img{
  transition: all 0.5s ease-out;
  width: 2.739rem;
}

.dropdownSelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #2d2c29;
  background-color: #f7f5e6;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}


@media screen and (max-width: 480px) {

  .main {
    padding: 5.416rem 1.041rem;
  }

  .mainContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .projectsContainer {
    padding: 3rem 1.041rem 5.416rem; 
  }

  .projectsItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.141rem;
    align-items: flex-start;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }

  .projectsImg img {
    width: 100%;
    height: 19rem;
    object-fit: cover;
  }





  .back {
    width: 100%;
    padding: 1.416rem 1.041rem;
    display: flex;
    justify-content: flex-start;
  }

  .caseContainer {
    width: 100%;
    display: flex;
    gap: 3.652rem;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: left;
    padding: 5.416rem 1.041rem;
  }
}
