.main {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.mainContainer {
  width: 65.844rem;
  display: flex;
  flex-direction: column;
  gap: 1.666rem;
  position: absolute;
}

.mainButtons {
  position: absolute;
  bottom: 3.652rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.369rem;
}

.mainButtonsMob {
  display: none;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainButtons-amim {
  opacity: 0; /* Начальное состояние */
  animation: fadeInUp 0.5s ease-out forwards; /* Анимация */
}

.mainButtons-amim:nth-child(1) {
  animation-delay: 0.1s; /* Без задержки */
}

.mainButtons-amim:nth-child(2) {
  animation-delay: 0.2s; /* Задержка для второго элемента */
}

.mainButtons-amim:nth-child(3) {
  animation-delay: 0.3s; /* Задержка для третьего элемента */
}

.mainButtons-amim:nth-child(4) {
  animation-delay: 0.4s; /* Задержка для четвертого элемента */
}

@media screen and (max-width: 480px) {
  .mainButtons {
    display: none;
  }

  .mainButtonsMob {
    position: absolute;
    bottom: 2.0833rem;
    left: 1.041rem;
    right: 1.041rem;
    display: flex;
    gap: 0.416rem;
  }

  .mainContainer {
    top: 5.416rem;
    text-align: left;
    width: 100%;
    padding: 5.416rem 1.039rem;
  }

  .br-pc-main {
    display: none;
  }
}
