.numbers {
  width: 100%;
}

.numbersContainer {
  text-align: left;
  width: 100%;
  background-color: #f7f5e6;

  display: flex;
  flex-direction: column;
  gap: 2.2831rem;

  padding: 6.849rem 0;
}

.numbers-h2 {
  width: 65.844rem;
  margin: 0 auto;
  color: #2d2c29;
}

.numbers-h2 h2 {
  color: #2d2c29;
}

.numbers-container-items {
  width: 65.844rem;
  display: flex;
  gap: 1.369rem;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .numbers-container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8333rem;
    margin: 0 auto;
  }

  .numbersContainer {
    padding: 5.416rem 1.039rem;
    gap: 1.039rem;
  }

  .numbers-h2 {
    width: 100%;
  }
}
