.partners {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2.283rem;
  background-image: url(src/assets/partners-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 6.849rem 0;
}

.partners-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.283rem;
}

.partners-container-items {
  display: flex;
  gap: 1.369rem;
}

.partners-item-logo {
  object-fit: cover;
  height: 4.885rem;
}

@media screen and (max-width: 480px) {
  .partners {
    padding: 3.333rem 1.041rem;
  }

  .partners-container-items {
    flex-wrap: wrap;
  }

  .partners-container {
    gap: 2.083rem;
  }
}
