.Charts {
  width: 100%;

  display: none;
  flex-direction: column;
  gap: 1.666rem;
}

.ChartsContainer {
  display: flex;
  flex-direction: column;
  gap: 2.083rem;
}

.ChartsText {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 1.0415rem 2.083rem ;
}

@media screen and (max-width: 480px) {
  .Charts {
    display: flex;
    align-items: center;
    padding-top: 2.083rem;
  }
}
