.portfolio {
  padding: 6.849rem 10.913rem;
}

.portfolio-h2 {
  text-align: left;
  margin-bottom: 3.652rem;
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 5.416rem 0rem;
  }

  .portfolio-h2 {
    text-align: left;
    margin-bottom: 2.083rem;
    padding: 0 1.041rem;
  }
}
