.main {
  width: 100%;
  height: 100svh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(src/assets/aboutUs-main.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1.606rem;
  align-items: center;
}

.mainContainerText {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.369rem;
}

.mainContainerText p {
  max-width: 42.009rem;
}

/*  ///// NUMBERS */

.numbers {
  width: 100%;
  padding: 5.936rem 0 0;
  background-color: #f7f5e6;

  overflow: hidden;
}

.numbersContainer {
  width: 65.806rem;
  margin: 0 auto;
}

.numbersContainer h2 {
  margin-bottom: 2.283rem;
}

.numbersContainerItems {
  display: flex;
  position: relative;
}

.numbersItems {
  position: absolute;
  top: 0;

  width: 16.438rem;
  height: 10.864rem;
  border: 1px solid white;
}

.numbersLeft {
  left: -25%;
}

.numbersRight {
  right: -24.8%;
}

/* ///////// CHARTS*/

.charts {
  width: 100%;
  text-align: left;
  padding: 6.849rem 10.913rem;
}

.chartsContainer {
  margin: 0 auto;
}

.chartsWraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

.chartsItem {
  width: 31.324rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.461rem;
}

/* .ChartPartnerships {
  width: 40.639rem;
  height: 21.689rem;
} */

.chartsCurrent {
  width: 32.831rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

/* ///////// Indicators */

.indicators {
  width: 100%;
  padding: 6.849rem 10.913rem;
  background-image: radial-gradient(
      circle at top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(src/assets/indicators;.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.indicatorsContainer {
  display: flex;
  flex-direction: column;
  gap: 3.65296804rem;
}

.indicatorsText {
  max-width: 65.844rem;
  display: flex;
  flex-direction: column;
  gap: 1.8264rem;
}

.indicatorsContainerItems {
  display: flex;
  justify-content: space-between;
}

/* ///////// EARTH */

.earth {
  text-align: left;
  padding: 6.849rem 10.913rem;
  background: white;
}

.earthContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.283rem;
}

.earthText {
  width: 24.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.461rem;
}

.earthItem {
  width: 39.36rem;
  height: 39.36rem;
}


/* ///////// reviews */

.reviews {
  width: 100%;
  text-align: left;
}