.main {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1.826rem;
  align-items: center;
  padding: 10.4rem 0 3.424rem;
}

.mainContainerText {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.826rem;
}

.mainContainerText p {
  max-width: 42.009rem;
}

/*  ///// NUMBERS */

.numbers {
  width: 100%;
  padding: 5.936rem 0 0;
  background-color: #f7f5e6;

  overflow: hidden;
}

.numbersContainer {
  width: 65.806rem;
  margin: 0 auto;
}

.numbersContainer h2 {
  margin-bottom: 2.283rem;
}

/* ///////// CHARTS*/

.charts {
  width: 100%;
  text-align: left;
  padding: 6.849rem 10.913rem;
}

.chartsContainer {
  margin: 0 auto;
}

.chartsWraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

.chartsMob {
  display: none;
}

.chartsItem {
  width: 31.324rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.461rem;
}

/* .ChartPartnerships {
  width: 40.639rem;
  height: 21.689rem;
} */

.chartsCurrent {
  width: 32.831rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

/* ///////// Indicators */

.indicators {
  width: 100%;
  padding: 6.849rem 10.913rem;
  background-image: radial-gradient(
      circle at top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url(/src/assets/indicators.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.indicatorsContainer {
  display: flex;
  flex-direction: column;
  gap: 3.65296804rem;
}

.indicatorsText {
  max-width: 65.844rem;
  display: flex;
  flex-direction: column;
  gap: 1.8264rem;
}

.indicatorsContainerItems {
  display: flex;
  justify-content: space-between;
}

/* ///////// EARTH */

.earth {
  text-align: left;
  padding: 6.849rem 10.913rem;
  background: white;
}

.earthContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.283rem;
}

.earthText {
  width: 24.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.461rem;
}

.earthItem {
  width: 39.36rem;
  height: 39.36rem;
  margin-left: auto;
}

/* ///////// we */

.we {
  width: 100%;
  background-color: white;
  display: flex; /* Обеспечивает работу с margin-left: auto */
}

.weContainer {
  padding: 6.849rem 0 3.652rem;
  display: flex;
  margin-left: auto; /* Прижимаем к правому краю */
  gap: 3.196rem;
}

.weText {
  max-width: 31.324rem;
  display: flex;
  flex-direction: column;
  gap: 2.283rem;
  text-align: left;
}

.weImg {
  width: 42.237rem;
}

/* ///////// values */

.values {
  width: 100%;
  background-color: white;
  padding: 6.849rem 10.913rem;
}

.valuesItemWraper {
  display: flex;
  flex-direction: column;
  gap: 2.283rem;
}

.valuesH2 {
  margin-bottom: 3.652rem;
}

.valuesItem {
  display: flex;
  align-items: center;
  gap: 3.196rem;
  text-align: left;
  justify-content: center;
}

.valuesItem:nth-child(even) {
  flex-direction: row-reverse;
}

.valuesItem p {
  max-width: fit-content;
}

.valuesItemText {
  display: flex; /* Или inline-flex если нужно */
  flex-direction: column;
  gap: 1.333rem;
  max-width: 31.278rem;
}

.valuesItemSvg {
  width: 22.831rem;
}

/* ///////// ceo */

.seo {
  width: 100%;
  padding: 6.849rem 10.913rem;
}

.seoContainer {
  display: flex;
  gap: 6.118rem;
  text-align: left;
}

.seoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seoImg {
  width: 25.205rem;
}

.seoText h5 {
  margin-bottom: 0.456rem;
}

@media screen and (max-width: 480px) {
  .mainContainer {
    top: 5.416rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7.416rem 1.039rem 2.2rem;
  }

  .numbers {
    padding: 5.416rem 0 0;
  }

  .numbersContainer {
    width: 100%;
    margin: 0 auto;
  }

  .numbersContainerItems {
    justify-content: center;
  }

  .numbersItemsWraper {
    display: flex;
    flex-direction: column;
  }

  .numbersItems {
    display: none;
  }

  .numbersContainer h2 {
    margin-bottom: 2.083rem;
  }

  .charts {
    padding: 5.416rem 1.041rem;
  }

  .chartsWraper {
    display: none;
  }

  .chartsMob {
    display: block;
  }

  .indicators {
    width: 100%;
    padding: 3.333rem 1.041rem;
    background-image: radial-gradient(
        circle at top,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 50%
      ),
      url(/src/assets/indicators.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .indicatorsText {
    text-align: left;
    gap: 1.666rem;
  }

  .indicatorsBr {
    display: none;
  }

  .indicatorsContainer {
    gap: 3.333rem;
  }

  .indicatorsContainerItems {
    flex-direction: column;
    gap: 2.083rem;
  }

  .earth {
    padding: 5.416rem 1.0416rem;
  }

  .earthContainer {
    flex-direction: column;
    gap: 3.333rem;
  }

  .earthText {
    width: 100%;
    gap: 1.666rem;
  }

  .earthItem {
    width: 17.916rem;
    height: 17.916rem;
  }

  .weContainer {
    padding: 5.416rem 1.041rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin-left: auto; /* Прижимаем к правому краю */
    gap: 3.196rem;
  }

  .weImg {
    width: 100%;
  }

  .values {
    padding: 5.416rem 1.041rem;
  }

  .valuesItemWraper {
    gap: 3.283rem;
  }

  .valuesItem {
    flex-direction: column;
    gap: 2.2rem;
  }

  .valuesItem:nth-child(even) {
    flex-direction: inherit;
  }

  .valuesItemSvg {
    width: 100%;
  }

  .seo {
    width: 100%;
    padding: 5.416rem 1.041rem;
  }

  .seoContainer {
    flex-direction: column;
    gap: 1.666rem;
  }

  .seoText {
    gap: 1.666rem;
  }

  .seoImg {
    width: 100%;
  }

  .seoText h5 {
    margin-bottom: 0.456rem;
  }
}
